<li id="{{ id }}" class="tl_content no_padding click2edit toggle_select hover-div" onmouseover="Theme.hoverDiv?.(this,1)" onmouseout="Theme.hoverDiv?.(this,0)">

	<div class="tl_content_left" {{ attribute }}>
		{{ label|raw }}
	</div>
	<div class="tl_content_right">
		{{ buttons|raw }}
	</div>
	<div style="clear:both"></div>
</li>